<html>
  <head>
    <title>{{title}}</title>
  </head>
   <body>
     <h1>{{welcomMsg}}</h1>        

        <h2> Welcome to pizza hut user: {{user}}</h2><b>
    
        <h2>your order and price is now stored in your session cookie. If you refresh the page you will see</h2> <b>
            
        <h2>they are {{order}} for {{price}}$</h2></b>


   </body>
</html>